* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  color: white;
  -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: purple;
}

.bold {
  font-weight: bold;
}

a {
  color: green;
  cursor: pointer;
}

a.disabled {
  color: red;
  cursor: not-allowed;
}
